<div data-role="header">
    <h1>Dotted Landscape</h1>
</div>

<div data-role="content">

    <div class="color-selection color-changer">
        <div class="active" style="background:rgb(255, 0, 0);"></div>
        <div style="background:rgb(255, 255, 0);"></div>
        <div style="background:rgb(0, 255, 255);"></div>
        <div style="background:rgb(255, 0, 255);"></div>
        <div style="background:rgb(255, 255, 255);"></div>
        <div style="background:rgb(0, 255, 0);"></div>
        <div style="background:rgb(0, 0, 255);"></div>
        <div style="background:rgb(0, 0, 0);"></div>
    </div>

    <table id="animate-panel" class="panel">
        <tbody>
            {% for y in range(0, 9) %}
            <tr>
                {% for x in range(0, 12) %}
                <td data-x="{{x}}" data-y="{{y}}"></td>
                {% end %}
            </tr>
            {% end %}
        </tbody>
    </table>

    <div id="frame-options">
        <legend>Frame length: <span></span> seconds</legend>
        <fieldset id="frame-length" data-role="controlgroup" data-type="horizontal">
            <input type="radio" name="frame-length" id="radio-choice-1" value="0.05" />
            <label for="radio-choice-1">0.05s</label>

            <input type="radio" name="frame-length" id="radio-choice-2" value="0.2" checked="checked" />
            <label for="radio-choice-2">0.2s</label>

            <input type="radio" name="frame-length" id="radio-choice-3" value="0.5"/>
            <label for="radio-choice-3">0.5</label>
        </fieldset>

        <div id="frame-move-controls" style="display: none;" data-role="controlgroup" data-type="horizontal">
            <a id="move-frame-backward" data-role="button" data-icon="arrow-l">&nbsp;</a>
            <a id="delete-frame" data-role="button" data-icon="delete">Delete</a>
            <a id="move-frame-forward" data-role="button" data-icon="arrow-r" data-iconpos="right">&nbsp;</a>
        </div>

        <div id="frames">
            <div id="add-frame">
                <a href="" data-role="button" data-icon="add" data-inline="true">Add frame</a>
            </div>
        </div>
    </div>


    <div id="controls">
        <a id="play-button" data-role="button">Play</a>
    </div>

    <div id="upload">
        <h3>Upload and Share Animation</h3>
        <label for="animation-title">Title</label>
        <input type="text" name="animation-title" id="animation-title" />
        <br />
        <label for="animation-author">Author</label>
        <input type="text" name="animation-author" id="animation-author" />
        <br />
        <a id="upload-button" data-role="button">Upload</a>
    </div>
</div>

