
<div data-role="header">
    <h1>Dotted Landscape @ AAVE</h1>
</div>

<div data-role="content">

    <div id="color-selection-draw" class="color-selection">
        <div class="active" style="background:rgb(255, 0, 0);"></div>
        <div style="background:rgb(255, 255, 0);"></div>
        <div style="background:rgb(0, 255, 255);"></div>
        <div style="background:rgb(255, 0, 255);"></div>
        <div style="background:rgb(255, 255, 255);"></div>
        <div style="background:rgb(0, 255, 0);"></div>
        <div style="background:rgb(0, 0, 255);"></div>
        <!-- <div style="background:rgb(0, 0, 0);"></div> -->
    </div>

    <table id="draw-panel" class="panel">
        <thead></thead>
        <tfoot></tfoot>
        <tbody>
            {% for y in xrange(0, 9) %}
            <tr>
                {% for x in xrange(0, 12) %}
                <td data-x="{{x}}" data-y="{{y}}"></td>
                {% end %}
            </tr>
            {% end %}
        </tbody>
    </table>

    <div id="saved-animations">
        <h2> Saved animations </h2>
        {% for a in saved_animations %}
            <div animation-title="{{a[0]}}">
                <span>{{ a[0] }} by <i>{{ a[1] }}</i></span>
                <table>
                    <thead></thead>
                    <tfoot></tfoot>
                    <tbody>
                        {% for y in xrange(0, 324, 36) %}
                        <tr>
                            {% for x in xrange(0, 36, 3) %}
                            <td style="background-color: rgb({{a[2][0][x + y]}}, {{a[2][0][x + y + 1]}}, {{a[2][0][x + y + 2]}})"></td>
                            {% end %}
                        </tr>
                        {% end %}
                    </tbody>
                </table>
            </div>
        {% end %}
    </div>

</div>