<!doctype html>
<!--[if lt IE 7 ]>
<html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Dotted Landscape</title>
    <meta name="description"
          content="Dotted Landscape is a web application that interfaces with the Dotted Landscape light panel. It allows collaborative live drawing, creating animations and sending messages.">
    <meta name="author" content="Lauri Kainulainen">

    <!-- ipad app stuff -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">

    <link rel="stylesheet" href="{{ static_url('css/jquery-mobile/jquery.mobile-1.0.1.min.css') }}"/>

    <link rel="stylesheet/less" type="text/css" href="{{ static_url('css/style.less') }}">
    <script src="{{ static_url('js/libs/less-1.3.0.min.js') }}" type="text/javascript"></script>
    <script src="{{ static_url('js/libs/modernizr-1.7.min.js') }}"></script>
</head>

<body id="{% block body_id %}{% end %}">

<!-- The draw, aka "paint" functionality -->
{% include "draw.html" %}

<!-- Animate page -->
{% include "animate.html" %}

<!-- Text page -->
{% include "text.html" %}



<!-- include the needed scripts -->
<script src="{{ static_url('js/libs/jquery-1.6.4.min.js') }}"></script>
<script src="{{ static_url('js/libs/socket.io.js') }}"></script>
<script type="text/javascript">
    WEB_SOCKET_SWF_LOCATION = "{{ static_url('js/libs/WebSocketMain.swf') }}";
</script>
<script src="{{ static_url('js/log.js') }}"></script>
<script src="{{ static_url('js/dottedlandscape.js') }}"></script>
<script src="{{ static_url('js/animate.js') }}"></script>

<!--[if lt IE 7 ]>
<script src="{{ static_url('js/libs/modernizr-1.7.min.js') }}js/libs/dd_belatedpng.js"></script>
<script>DD_belatedPNG.fix("img, .png_bg"); // Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb </script>
<![endif]-->


<script type="text/javascript">

    /** The "main" */
    $(function() {

        var TEXT_EVENTS_BOUND = false;
        var DRAW_EVENTS_BOUND = false;
        var ANIMATE_EVENTS_BOUND = false;

        $(window).bind('resize', function() {
            log('resized!')
            $('table.panel:visible td').each(function(i, e) { $(e).height($(e).width()); });
        });

        $('div#animate').bind('pageshow', function() {
            $(window).resize();
            panelInteraction.unBindAll();
            panelInteraction.bind('#animate-panel', true, animation.panelChangedCallback);
            if(!ANIMATE_EVENTS_BOUND) {
                // Events for the animation view
                animation.init();
                ANIMATE_EVENTS_BOUND = true;
            }
        });
        $('div#draw').bind('pageshow', function() {
            $(window).resize();
            panelInteraction.unBindAll();
            panelInteraction.bind("#draw-panel");
            socketIOPanelUpdater.bind("#draw-panel");


            $.get('/a/get-all-animations', {}, function(data) {
                $('#all-animations').empty();

                $.each(data, function(i, d) {
                    var $bp = $('#saved-animation-blueprint').clone();
                    $bp.attr('id', '');
                    $bp.attr('animation-title', d.title);
                    $bp.find('span').html(d.title + " by <i>"+d.author+"</i>");

                    var tbody = $bp.find('tbody');
                    var tr = 0;
                    for(i = 0; i < 192; i+=3) {
                        var r = d.frame[0][i];
                        var g = d.frame[0][i + 1];
                        var b = d.frame[0][i + 2];
                        if(i % 24 == 0) {
                            if(tr) { tbody.append(tr); }
                            tr = $(document.createElement('tr'));
                        }
                        td = $(document.createElement('td'));
                        td.css('background-color', 'rgb('+r+','+g+','+b+')');
                        tr.append(td)
                    }
                    $('#all-animations').append($bp);
                    $bp.click(function(e) {
                        e.preventDefault();
                        var t = $(this).attr('animation-title');
                        panelInteraction.playAnimation(t);
                    });
                    $bp.fadeIn();
                });
                log('done')
            }, 'json');
        });
        $('div#text').bind('pageshow', function() {
            panelInteraction.unBindAll();
            socketIOPanelUpdater.bind('#text-panel');

            if(!TEXT_EVENTS_BOUND) {
                // Events for the text sending
                // bind the color selectors here (yeah, i know, ugly)
                $('.color-selection div').click(panelInteraction.colorSelectionHandler);
                $('#message').keydown(function(e) {
                    log('key')
                    if(e.keyCode == 13) {
                        log('enter pressed')
                        $('#send-button').click();
                    }
                })
                $('#send-button').bind("click",
                        function(e) {
                            var txt = $('#message').val();
                            if(txt) {
                                if(txt.length > 40) {
                                    alert('Please keep the message length to under 40 characters. Thanks.');
                                    return;
                                }
                                socketIOPanelUpdater.socket.emit('text_message', {'message': txt, 'c': panelInteraction.activeColor} );
                                $('#message').val('');
                            }
                        });
                TEXT_EVENTS_BOUND = true;
            }
        });
    });
</script>
<script src="{{ static_url('js/libs/jquery.mobile-1.0.1.min.js') }}"></script>


<script>
    var _gaq=[["_setAccount","UA-23620841-2"],["_trackPageview"]];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
        g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
        s.parentNode.insertBefore(g,s)}(document,"script"));
</script>

</body>
</html>