<div data-role="page" id="text" data-theme="d">
    <div data-role="header">
        <h1>Dotted Landscape</h1>

        <div data-role="navbar">
            <ul>
                <li>
                    <a href="#draw">Draw</a>
                </li>
                <li>
                    <a href="#animate">Animate</a>
                </li>
                <li>
                    <a href="#text" class="ui-btn-active">Text</a>
                </li>
            </ul>
        </div>
    </div>
    <div data-role="content">

        <div id="color-selection-text" class="color-selection">
            <div class="active r" style="background:rgb(255, 0, 0);"></div>
            <div class="y" style="background:rgb(255, 255, 0);"></div>
            <div class="c" style="background:rgb(0, 255, 255);"></div>
            <div class="v" style="background:rgb(255, 0, 255);"></div>
            <div class="g" style="background:rgb(0, 255, 0);"></div>
            <div class="b" style="background:rgb(0, 0, 255);"></div>
        </div>

        <div id="message-sending">
            <input type="text" name="message" id="message" size=40 maxlength="40"/>
            <input type="button" value="send" id="send-button"/>
        </div>

        <div id="small-panel-container">
            <table id="text-panel" class="smaller-live-panel">
                <thead></thead>
                <tfoot></tfoot>
                <tbody>
                {% for y in range(0, 8) %}
                <tr>
                    {% for x in range(0, 8) %}
                    <td data-x="{{x}}" data-y="{{y}}"></td>
                    {% end %}
                </tr>
                {% end %}
                </tbody>
            </table>
        </div>
    </div>
</div>