{% extends "base.html" %}

{% block body_id %}animate{% end %}

{% block content %}

<div id="links">
    <a href="/" class="button">Live</a>
    <a href="/text/" class="button">Text</a>
</div>

<div id="color" class="color-selection">
    <!-- 
     <div style="background:rgb(255, 255, 0);"></div>
    <div style="background:rgb(255, 255, 255);"></div>
    <div style="background:rgb(0, 255, 255);"></div>
    -->
    <div class="active" style="background:rgb(255, 0, 0);"></div>
    <div style="background:rgb(0, 255, 0);"></div>
    <div style="background:rgb(0, 0, 255);"></div>
    <div style="background:rgb(0, 0, 0);"></div>
</div>

<table id="panel">
    <thead></thead>
    <tfoot></tfoot>
    <tbody>
        {% for y in range(0, 8) %}
        <tr>
            {% for x in range(0, 8) %}
            <td x="{{x}}" y="{{y}}"></td>
            {% end %}
        </tr>
        {% end %}
    </tbody>
</table>

<div id="frames">
    <div id="add-frame">
        <a href="">+</a>
    </div>
</div>

<div id="controls">
    <a id="play-button" class="button">Play</a>
</div>

<div id="upload">
    <h3>Upload and Share Animation</h3>
    <label for="animation-title">Title</label>
    <input type="text" name="animation-title" id="animation-title" />
    <br />
    <label for="animation-author">Author</label>
    <input type="text" name="animation-author" id="animation-author" />
    <br />
    <a id="upload-button" class="button">Upload</a>
</div>
{% end %}


{% block scripts %}
<script src="{{ static_url('js/dl_animate.js') }}"></script>
<script type="text/javascript">
    $(function() {
        // input
        panelInteraction.init(true, animation.panelChangedCallback);
        // output
        // panelUpdater.init();
        animation.init();
        $('#play-button').click(animation.play);
        $('#upload-button').click(animation.upload);
      
    });
</script>
{% end %}